/* Estilo geral */
html {
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Funnel Display", sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    
}

.flex{
    display:flex;
}

.btn-contato button{
    padding: 10px 40px;
    border: 0;
    border-radius: 30px;
    background-color: #ff66c4;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;

}

h2.titulo{
    color: #fff;
    font-size: 42px;
    text-align: center;
}

h2.titulo span{
    color: #ff66c4;
}

 button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #ff66c463;
    transform: scale(1.05);
}

/*Estilo do cabeçalho*/
header{
    padding: 40px 4%;
}

header >.interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header a{
    color: #797979;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    
}
header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 60px;
}

 

/*ESTILO DO TOPO DO SITE*/

section.topo-do-site {
    padding: 40px 4%;
    min-height: 100vh; /* Ocupa 100% da altura da tela inteira */
    display: flex;
    align-items: center; 
    justify-content: center;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 55px;
    line-height: 50px;
}

.topo-do-site h1 span{
    color: #ff66c4;
}

.topo-do-site p{
    color: #fff;
    margin: 30px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: floating 2s ease-in-out infinite alternate;
}
@keyframes floating{
    0%{
        top:0;
    }
    100%{
        top: 30px;
    }
}


/*ESTILO DO SOBRE MIM*/
section.sobre{
    padding: 255px 4%;
}
section.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 45px;
    line-height: 46px;
    margin-bottom: 20px;
}

.sobre .txt-sobre h2 span{
    color: #ff66c4;
    display:block;
}

.sobre .txt-sobre p{
    margin: 13px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #ff66c4;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
    margin: 0 10px;
}

.sobre .img-sobre img{
    position: relative;
    animation: floating 2s ease-in-out infinite alternate;
}
@keyframes floating{
    0%{
        top:0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DA SEÇÃO HABILIDADES */

section.habilidades{
   min-height: 100vh; 
    display: flex;   
    align-items: center; 
    justify-content: top; 
}
section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.habilidades .container-skills {
    justify-content: center; 
    gap: 200px; 
    margin-top: 40px;
}

.habilidades-box {
    color: #fff;
    display: flex;
    flex-direction: column; 
    align-items: center;   
}

.habilidades-box h3 {
    font-size: 30px;
    margin-bottom: 25px; 
}


.icones-group {
    display: flex;
    gap: 20px; 
    align-items: center;
}


.icones-group img {
    height: 100px; 
    width: auto;
    transition: .3s;
}

.icones-group img:hover {
    transform: translateY(-10px); 
}

/* ESTILO DO PORTFÓLIO */

section.portfolio{
    padding: 180px 4%;
    box-shadow: 0px 0px 40px 10px #ff66c431;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 2s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
     background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #180c1db4;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: 2s;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO DO CONTATO */

section.formulario{
    padding: 180px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #303030;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    height: 150px;
}

form .btn-enviar{
    margin-top: 20px;
    align-self: center;
}
form .btn-enviar input{
    width: 120px;
    background-color: #ff66c4;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPÉ */

footer {
    padding: 40px 4%;
    box-shadow: 0px 0px 40px 10px #ff66c431;
    border-top: 1px solid #333; 
}

footer .footer-content {
    width: 100%;
    justify-content: space-between; 
    align-items: center;
}

footer p {
    color: #797979; 
    font-size: 16px;
}

footer .email-contato a {
    color: #fff;
    text-decoration: none;
    transition: .2s;
    font-weight: 500;
}

footer .email-contato i {
    color: #ff66c4; 
    margin-right: 8px;
    font-size: 20px;
    vertical-align: middle;
}

footer .email-contato a:hover {
    color: #ff66c4;
}

